<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>

     <div class="flex-container" id="mainmainContainer">
        <div id="previousChatsDiv">
            <h6 >Deepseek</h6>
        </div>


        <div id="chatInteraction">
            <h1>Deepseek</h1>
            <form id="formChatBox" autocomplete="off">
                <input type="text" id="chatBox" name="fname" value="Ask anything"><br>
                <div id="buttonContainer">
                    <button id="attachButton">Attach</button>
                    <button id="searchButton">Search</button>
                    <button id="studyButton">Study</button>
                </div>
            </form>

            <h5 id ="disclaimer">Deepseek can make mistakes. Check important info.</h5>

        </div>
        
    </div> 

    <!-- <div id="mainContainer">
        <div id="previousChatsDiv"></div>
        <div id="chatInteraction"></div>
    </div> -->
</body>
</html>