html, body{
    height:100%
}

.constSizeContainer{
    height:30px;
    width: 30px;
    margin-right: auto;
    margin-bottom: 10px;
}

.waiting{
    height:15px;
    width: 15px;
    background-color: black;
    margin-bottom: 20px;
    margin-right: auto;
    border-radius: 25px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    from {
        height:15px;
        width: 15px;
    }
    to {
        height:30px;
        width: 30px;
    }
}

#previousChatsDiv{
    width: 100px;
    height: 100%;
    background-color: white;
}

h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;

}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:rgb(0, 0, 0)
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    border-radius: 25px;
    overflow-wrap: break-word;
    /* This bit draws the box around it */
    border:1px solid lightgray;
    margin-bottom: auto;
}


button{
    transition: none;
}

textarea:focus{
    outline: none;
}

.defaultStateButton{
    text-align: center;
    border-radius: 25px;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    background-color: transparent;
    color:gray;
    border-color: lightgray;
    border-width: 1.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    transition: none;
}

.loadingButton{
    height:30px;
    width: 30px;
    margin-left: 360px;
    text-align: center;
    border-radius: 30px;
    font-size: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    background-color: lightgray;
    border-color: transparent;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    transition: none;

    display: flex;
    justify-content: center;
}

#chats{
    width: 740px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userChat{
    overflow: auto;
    background-color: #E1E1E1;
    color: black;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-bottom: 25px;
    padding: 0 20px;
    display: inline-block;
}

.serverResponse{
    overflow: auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: auto; 
    margin-bottom: 25px;
}

button:active { 
  box-shadow: none; 
  border-style: outset;  
}


#deepseek_logo{ 
    width:75px;
    height: 75px;
}

.voiceButtonClass{
    margin-left: 360px;
    background-color: #E1E1E1;

    text-align: center;
    border-radius: 25px;
    font-size: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    color:gray;
    border-color: lightgray;
    border-width: 1.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    transition: none;
}

.button_img{
    height:10px;
    width:10px;
}

::selection {
  background-color: #B8DCFF; /* Sets the background color of the highlighted text */
  color: #000000;          /* Sets the color of the highlighted text */
}

#buttonContainer{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

textarea{
    height: 70px;
    width: 700px;
    border: none;
    margin-left: 25px;
    margin-top: 3%;
    overflow: auto;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:gray;
    font-size: 20px;
    
}

.submitButton{
    height:30px;
    width: 30px;
    margin-left: 360px;
    text-align: center;
    border-radius: 30px;
    font-size: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    background-color: black;
    color:black;
    border-color: black;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    transition: none;
}

#chatBox{
    resize: none; /* optional: disable manual resizing */
    overflow-y: auto; /* show vertical scrollbar when needed */
    box-sizing: border-box;
}

#imgsUnderneath{
    background-color: black;
}

#chatInteraction{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    height: 100%; /* or any fixed height like 500px */
    width: 100vw;
    
}

#disclaimer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    margin-bottom: auto;
}

#mainmainContainer{
    display: flex;
}

.flex-container{
    display: flex;
}